<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unip.com.br.View" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Academia"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Treinos"
            android:label="@string/title_activity_treinos" >
        </activity>
        <activity
            android:name=".DietasView"
            android:label="@string/title_activity_dietas_view" >
        </activity>
        <activity
            android:name=".AtividadesView"
            android:label="@string/title_activity_atividades_view" >
        </activity>
        <activity
            android:name=".GraficosView"
            android:label="@string/title_activity_graficos_view" >
        </activity>
        <activity
            android:name=".DetalheTreino"
            android:label="@string/title_activity_treinos" >
        </activity>
        <activity
            android:name=".DetalheDietaView"
            android:label="@string/title_activity_dietas_view" >
        </activity>
    </application>

</manifest>
